<div class="register-container">
  <h2>Cadastro</h2>
  
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form-group">
      <label for="name">Nome</label>
      <input id="name" type="text" formControlName="name" class="form-control" placeholder="Digite seu nome" />
      <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="error">
        O nome é obrigatório e deve ter pelo menos 3 caracteres.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" class="form-control" placeholder="Digite seu email" />
      <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error">
        Insira um email válido.
      </div>
    </div>

    <div class="form-group">
      <label for="telefone">telefone</label>
      <input id="telefone" type="telefone" formControlName="telefone" class="form-control" placeholder="Digite seu telefone" />
      <div *ngIf="registerForm.get('telefone')?.invalid && registerForm.get('telefone')?.touched" class="error">
        Insira um telefone válido.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Senha</label>
      <input id="password" type="password" formControlName="password" class="form-control" placeholder="Digite sua senha" />
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error">
        A senha deve ter pelo menos 6 caracteres.
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirmar Senha</label>
      <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirme sua senha" />
      <div *ngIf="registerForm.get('confirmPassword')?.touched && !passwordsMatch()" class="error">
        As senhas não coincidem.
      </div>
    </div>

    <div formGroupName="endereco">
      <div class="form-group">
        <label for="cep">CEP</label>
        <input id="cep" type="text" formControlName="cep" class="form-control" placeholder="Digite seu CEP" />
        <div *ngIf="registerForm.get('endereco.cep')?.invalid && registerForm.get('endereco.cep')?.touched" class="error">
          O CEP é obrigatório.
        </div>
      </div>

      <div class="form-group">
        <label for="logradouro">Logradouro</label>
        <input id="logradouro" type="text" formControlName="logradouro" class="form-control" placeholder="Digite o logradouro" />
        <div *ngIf="registerForm.get('endereco.logradouro')?.invalid && registerForm.get('endereco.logradouro')?.touched" class="error">
          O logradouro é obrigatório.
        </div>
      </div>

      <div class="form-group">
        <label for="complemento">Complemento</label>
        <input id="complemento" type="text" formControlName="complemento" class="form-control" placeholder="Digite o complemento (opcional)" />
      </div>

      <div class="form-group">
        <label for="bairro">Bairro</label>
        <input id="bairro" type="text" formControlName="bairro" class="form-control" placeholder="Digite o bairro" />
        <div *ngIf="registerForm.get('endereco.bairro')?.invalid && registerForm.get('endereco.bairro')?.touched" class="error">
          O bairro é obrigatório.
        </div>
      </div>

      <div class="form-group">
        <label for="localidade">Localidade</label>
        <input id="localidade" type="text" formControlName="localidade" class="form-control" placeholder="Digite a localidade" />
        <div *ngIf="registerForm.get('endereco.localidade')?.invalid && registerForm.get('endereco.localidade')?.touched" class="error">
          A localidade é obrigatória.
        </div>
      </div>

      <div class="form-group">
        <label for="uf">UF</label>
        <input id="uf" type="text" formControlName="uf" class="form-control" placeholder="Digite a UF" />
        <div *ngIf="registerForm.get('endereco.uf')?.invalid && registerForm.get('endereco.uf')?.touched" class="error">
          A UF é obrigatória.
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Registrar</button>
  </form>
</div>
